<div class="hero-unit">
  <h1>Hear What You Want to Hear</h1>
  <div align="center">
    <h2>Get a phone call from a real person.</h2>
  </div>
</div>
<ul>
  <li>Need motivation?</li>
  <li>Need to stay on schedule?</li>
  <li>Or just want to hear a friendly voice?</li>
</ul>
<p>Give us a time, your number and we'll call you.</p>
<form>
  <span>Phone:</span>
</form>
<%= link_to "Call Me!", new_user_registration_path, class: "btn btn-large btn-warning" %>
</div>